<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olemika.taskmanager">

    <application
        android:name="com.olemika.taskmanager.main.App"
        android:allowBackup="true"
        android:icon="@drawable/my_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/my_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskManager">

        <activity android:name=".main.presentation.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.presentation.ui.task.ListActivity"
            android:label="Напоминания"
            android:parentActivityName=".main.presentation.ui.main.MainActivity" />
        <activity android:name=".main.presentation.ui.task.add.AddTaskActivity"
            android:label="Добавить напоминание"
            android:parentActivityName=".main.presentation.ui.task.ListActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".main.presentation.ui.main.add.AddCategoryActivity"
            android:label="Добавить категорию"
            android:parentActivityName=".main.presentation.ui.main.MainActivity"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>