<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.olemika.taskmanager">

    <application
        android:name="com.olemika.taskmanager.main.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskManager">

        <activity android:name=".main.MainActivity"
            android:label="Категории">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.listActivity"
            android:label="Напоминания"
            android:parentActivityName=".main.MainActivity"/>
        <activity android:name=".main.addTaskActivity"
            android:label="Добавить напоминание"
            android:parentActivityName=".main.listActivity"/>
        <activity android:name=".main.AddCategoryActivity"
            android:label="Добавить категорию"
            android:parentActivityName=".main.MainActivity"/>

    </application>

</manifest>